<h1>{body.title}</h1>
<h2>Check out or menu and order pizza!</h2>
<div class="blurb">
    The best pizza ever made!, order now!
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam non praesentium consequatur ab explicabo, asperiores nobis sunt laboriosam possimus at quasi debitis vero! Hic numquam, vitae possimus quisquam eum aperiam!
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi optio, dicta, eum excepturi repellendus maxime nulla veritatis eos pariatur magnam odio. Alias ea eius voluptas at odio molestias reiciendis libero.
</div>

<div class="ctaWrapper">
   <a href="account/create" class="cta green">New Customer</a>
   <a href="session/create" class="cta blue">Log In</a>
</div>