<h1>Order List</h1>
<h2>Orders in our pizza store</h2>
<hr />
<div class="cartWrapper">
    <table id="orderListTable">
      <tr>
        <th>Order Id</th>
        <th>Date</th>
        <th>Value</th>
        <th>No. Items</th>
        <th>Payment Id</th>
        <th>Payment Status</th>
      </tr>
      <tr id="noElementMessage">
        <td colspan="5">There are no orders</td>
      </tr>

    </table>
    
</div>
<div id="createCart" class="ctaWrapper">
  <a class="cta green" href="menu/list">Get to the menu!</a>
</div>
